{% extends 'myauth/base.html' %}

{% block title %}
    Обо мне
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>Информация:</h2>
        <p>Пользователь: {{ user.username }}</p>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Группы: </p>
        <ul>
            {% for group in user.groups.all %}
                <li>{{ group }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
{% endblock %}