{% extends "statisticsapp/base.html" %}

{% block body %}
<h2 class="fw-bold">Общая статистика</h2>

<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col">
        <div class="card border-light shadow" style="background: #eee">
            <div class="card-body bg-gray-900">
                <h3 class="card-title fw-bold">
                    <a href="/products/" class="link-dark text-decoration-none">Количество услуг: {{ products|length }}</a>
                </h3>
                    <table border="1" cellspacing="0" cellpadding="5">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Услуга</th>
                                <th>Описание</th>
                                <th>Цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in products %}
                                <tr>
                                    <td>{{ p.id }}</td>
                                    <td><a href="/ads/{{ ad.pk }}" class="text-decoration-none link-dark">{{ p.name }}</a></td>
                                    <td>{{ p.description }}</td>
                                    <td>{{ p.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-light shadow" style="background: #eee">
            <div class="card-body">
                <h3 class="card-title fw-bold">
                    <a href="/ads/" class="link-dark text-decoration-none">Количество рекламных компаний: {{ ads|length }}</a>
                </h3>
                <table border="1" cellspacing="0" cellpadding="5">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Компания</th>
                            <th>Привлеченных клиентов</th>
                            <th>Успешность компании в руб</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ad in ads %}
                            <tr>
                                <td>{{ ad.id }}</td>
                                <td><a href="/ads/{{ ad.pk }}" class="text-decoration-none link-dark">{{ ad.name }}</a></td>
                                <td>{{ ad.count_leads }}</td>
                                <td>{{ ad.company_success }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-light shadow" style="background: #eee">
            <div class="card-body">
                <h3 class="card-title fw-bold">
                    <a href="/leads/" class="link-dark text-decoration-none">Количество лидов: {{ leads.count }}</a>
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-light shadow">
            <div class="card-body" style="background: #eee">
                <h3 class="card-title fw-bold">
                    <a href="/customers/" class="link-dark text-decoration-none">Количество активных клиентов: {{ customers.count }}</a>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}